*{
    margin:0;
    padding:0;
}



body{
    display:flex;
    /* align-items: center; */
    /* height: 100vh; */
    justify-content: center;
    width:100%;
    box-sizing:border-box;
    background: #1C1C1C;
    color:white;
    font-family:Inter;
    /* border:1px solid white; */


}


#addsome{
    cursor: pointer;
    font-weight:unset;
    font-size:1.2rem;
    color:white;
    margin-top:1.5em;
}
.mainthing{
    display:flex;
    flex-wrap:wrap;
    /* height: 40vh; */
    /* border: 1px solid white; */
    width: 39%;
    align-content: flex-start;
    justify-content: center;
}


.initialfinal{
    
    padding-left:0.2em;
    padding-right:0.2em;
    height:50vh;
    color:grey;
    opacity: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border:1px solid white; */
    text-align: center;
    font-size:2em;
}

.header{
    display:flex;
    align-items: center;
    background:url(image.png);
    background-position:center;
    background-size: cover;
    /* border:1px solid blue; */
    justify-content: center;
    width:100%;
    height:15em;
    margin-bottom: 0;
}

.aligner{
    width: 100%;
    display:flex;
    padding-left:3em;
    padding-right:3em;
    /* border:1px solid red; */
    align-items: baseline;

    font-weight: bold;

}
#find{
    display: flex;
    /* border: 1px solid white; */
    font-size:3em;
    margin-right:auto;
    padding-right:1em;
    

}

#mywatch{
    display: flex;
    /* border:1px solid white; */

}













/*now for the results */
.results{
    /* border:1px solid white; */
    justify-content: center;
    display:flex;
    flex-direction:column;
    width:100%;
    color:white;
    overflow: hidden;
    padding-block:3.5em;
    background:#121212;
}

.oneicon{
    align-items: flex-start;
    width: 100%;
    /* border:1px solid white; */
}
.icontext{
    /* border:1px solid white; */
    width:100%;
    font-size:1.2rem;
    font-weight: bold;
}



.oneresult{
    display:flex;
    flex-direction: row;
    /* border:1px solid white; */
    padding-bottom: 1em;
    margin: 0em 2em 1.5em 2em;
    border-bottom: 1px solid white;
    

}
#resultimage{
    align-self: center;
    /* border:1px solid white; */
    display:inline;
    object-fit:cover;
    width:25%;
    height:14em;
}





.resulttext{
    
    /* border:1px solid white; */
    margin-left:5%;
    align-self:center;
    width:70%;
}

.justthehead{
    /* border:1px solid white; */
    display:flex;
}
.heading{
    /* border:1px solid white; */
    font-size:1.7em;
    font-weight: 500;
    letter-spacing: 1px;
}

#theicon{
    color:gold;
}
.rating{
    text-align: center;
    /* border:1px solid white; */
    align-self:flex-end;
    margin-left:0.8em;
    padding-bottom: 4px;
}

.midwala{
    /* border: 1px solid white; */
    display:flex;
    margin-top:1em;
    font-size: 0.85em;
    margin-bottom:1em;

}
.watchtime{
    width:25%;

}
.genre{
    width:40%;
    /* border: 1px solid white; */
}
.watchlist{
    width:35%;
    margin-left:5px;  
    cursor:pointer;  

}

.plot{
    display:flex;
    flex-wrap: wrap;
    color:#A5A5A5;
    line-height: 1.2em;

}


a{
    text-decoration: none;
    color:unset
}